.addEdit__container {
    outline-style: solid;
    outline-width: 1px;
    @include body__outline--color;
    @include background--color(addLink__background);
    padding: $s-size;
    border-radius: 3px;
    @include inset__item;
    margin-bottom: $xxl-size;
}

// .addEdit__container--field {
//     // display: block;
//     // justify-content: center;
// }

.addEdit__buttons--container {
    display: flex;
    justify-content: space-between;
}

.addEdit__buttons--saveCancel {
    margin-top: $s-size;
    padding: 0.5rem;
    width: 48%;
    font-size: $calcFontSizeLarge;
    @include background--color(button__background);
    @include body__text--color();
    @include border__style();
    cursor: pointer;
    &:hover {
        @include background--color(hover__background);
    }
}

.addEdit--center {
    @include center-item;
    @include body__text--color;
}

@media only screen and (min-device-width: $desktop-breakpoint) {
    // .addEdit__container{

    // }

    .addEdit__buttons--container {
        display: flex;
        justify-content: space-between;
        max-width: 620px;
        margin-left: auto;
        margin-right: auto;
    }

    .addEdit__buttons--saveCancel {
        width: 35%;
        font-size: $calcFontSize;
        @include background--color(button__background);
        @include body__text--color();
        @include border__style();
        @include body__border--color();
    }
}
