.authPage__container {
    display: flexbox;
    margin-bottom: $xxl-size;
}

.authPage__container--title {
    text-align: center;
    @include body__text--color;
    h3 {
        margin: 0;
    }
}

.authPage__container--login {
    display: flexbox;
    @include body__text--color;
}

.authPage__container--input {
    display: flex;
    justify-content: space-between;
}

.authPage__login--label {
    max-width: 50%;
}

.authPage__login--textBox {
    height: fit-content;
    max-width: 75%;
    font-size: $calcFontSizeLarge;
    @include background--color(field__input__background);
    @include body__text--color;
}

.authPage__container--buttons {
    display: flexbox;
    justify-content: center;
}

.authPage__container--button {
    display: flex;
    justify-content: center;
    margin: $l-size 0;
}

.authPage__login--button {
    font-size: $calcFontSizeLarge;
    width: 75%;
    height: $calcFontSizeExtraLarge;
    @include background--color(button__background);
    @include body__text--color;
}
