.header__wrapper {
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    z-index: 98;
    @include header__border--bottom;
    @include background--color(header__background);
}

.header__content {
    padding: $s-size;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    @include header__text--color;
    @include header__text--size;
}

.headerLink {
    margin: 0;

    @include textLink;
    @include header__text--color;
    h1 {
        margin: 0;
    }
}

@media only screen and (min-device-width: $desktop-breakpoint) {
    .header__wrapper {
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
        max-width: 60rem;
        margin: 0 auto;
    }

    .header__content {
        padding: 0 $s-size;
    }

    .headerLink {
        margin: 0;

        @include textLink;
        @include header__text--color;
        h1 {
            font-size: $calcFontSize;
            margin: 0;
        }
    }
}
