.home__content__wrapper {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    font-size: $calcFontSizeLarge;
    @include background--color(body__background);
}

.home__content--padding {
    padding: $m-size;
    padding-top: $xxl-size;
}

@media only screen and (min-device-width: $desktop-breakpoint) {
    .window__background {
        @include background--color(window__background);
    }

    .home__content__wrapper {
        font-size: $calcFontSize;
        position: relative;
        margin: 0 auto;
        max-width: $max-content-width;
        padding-bottom: $s-size;
        min-height: 99vh;
        @include background--color(body__background__shadow);
    }

    .home__content--padding {
        padding: $m-size;
        padding-top: $xl-size;
    }
}
