.imageViewer__container {
    @include border__style();
    margin: 0 auto;
    height: 620px;
    width: 620px;
    text-align: center;
    @include body__text--color;
    img {
        padding: 10px 10px;
    }
}
