.imageUpload__container {
    margin: $s-size 0;
    display: flex;
    justify-content: space-between;
}

.imageUpload__label {
    display: flex;
    justify-content: center;
    @include background--color(button__background);
    @include body__text--color();
    @include border__style();
    width: 48%;
    font-size: $calcFontSizeLarge;
    cursor: pointer;
    &:hover {
        @include background--color(hover__background);
    }
}

.imageUpload__clearImage {
    display: flex;
    justify-content: center;
    @include background--color(button__background);
    @include body__text--color();
    @include border__style();
    width: 48%;
    padding: 0.5rem;
    font-size: $calcFontSizeLarge;
    cursor: pointer;
    &:hover {
        @include background--color(hover__background);
    }
}
.imageUpload__button {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: relative;
}
