.menuItem__container {
    @include background--color(menuItem__background);
    margin: 0 auto $s-size;
    border-style: solid;
    border-width: 1px;
    @include border__style;
    @include body__border--color;
    max-width: 98%;
    max-height: $card-height;
    text-align: center;
    @include outset__item;
    margin-bottom: $s-size;
    &:hover {
        @include inset__item;
    }
}

.menuItem__link {
    display: block;
    text-decoration: none;
    @include body__text--color;
    padding: $s-size;
    cursor: pointer;
}

.menuItem__header {
    display: block;
    justify-content: center;
    margin-bottom: $s-size;
}

.menuItem__title {
    text-align: center;
    text-decoration: none;
    font-size: $calcFontSizeExtraLarge;
    font-weight: bold;
    margin: $xs-size;
    width: fit-content;
}

.menuItem__star {
    z-index: 50;
    position: absolute;
    right: 2rem;
    background-color: transparent;
    border: none;
}

.menuItem__visibility--container {
    display: flex;
    justify-content: center;
}

.menuItem__visibility--symbol {
    font-size: $calcFontSizeLarge;
    margin-right: 4rem;
}

.menuItem__visibility--handle {
    font-size: $calcFontSize;
    font-weight: 500;
}

.menuItem__content {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    @include border__style;
    @include body__border--color;
}

.menuItem__image {
    border-radius: 5px;
    margin: $s-size;
    text-decoration: none;
    font-size: $calcFontSize;
    max-width: 45%;
}

.menuItem__body {
    max-width: 100%;
    text-decoration: none;
    padding: $s-size;
}

.menuItem__buttons--container {
    display: flex;
    justify-content: space-around;
}

.menuItem__buttons--editRemove {
    margin: $s-size;
    padding: 0.5rem;
    width: 48%;
    font-size: $calcFontSizeLarge;
    @include background--color(button__background);
    @include body__text--color();
    @include border__style();
    @include body__border--color;
    cursor: pointer;
    &:hover {
        @include inset__item;
        @include background--color(hover__background);
    }
}
