.themePicker__container {
    position: relative;
    margin-top: $xs-size;
    margin-bottom: $xs-size;
    display: flex;
    width: fit-content;
    height: fit-content;
    @include themePicker__container--bottomPadding;
}

.themePicker__slider__container {
    overflow: hidden;
}

.themePicker__button--palette {
    cursor: pointer;
    position: relative;
    right: 0;
    padding: 0;
    margin: 0;
    border: none;
    display: flex;
    @include background--color(header__background);
}

@keyframes slide-right {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(102%);
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(102%);
    }
    100% {
        transform: translateX(0%);
    }
}

.themePicker__button__container {
    display: flex;
    position: relative;
    transform: translateX(102%);

    &.hidden {
        animation-name: slide-right;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-direction: normal;
        animation-fill-mode: forwards;
    }
    &.visible {
        animation-name: slide-left;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-direction: normal;
        animation-fill-mode: forwards;
    }
}

.themePicker__button {
    display: flex;
    flex-direction: row;
    border-radius: 60%;
    @include themePicker__button--size();
    cursor: pointer;
    @include themePicker__button();
}
