.user__container {
    overflow: hidden;
}

.user__container--header {
    display: flex;
    justify-content: space-between;
}

.user__button--delete {
    background-color: $red-delete;
    font-size: $calcFontSizeLarge;
    border: solid;
    border-color: black;
}

.user__data--handle {
    font-weight: 600;
    @include body__text--color();
}

.user__container--accessed {
    display: flex;
    justify-content: space-between;
    // font-size: $calcFontSize;
    // @include body__text--color();
}

.user__data--last {
    font-size: $calcFontSizeLarge;
    @include body__text--color();
    // width: 50%;
}

.user__data--accessed {
    font-size: $calcFontSizeLarge;
    @include body__text--color();
    // margin-left: 10px;
}

// .user__container--button {
// }
