.welcome__container {
    @include body__text--color;
    margin-bottom: $xxl-size;
    display: flexbox;
}

.welcome__container--header {
    font-size: $calcFontSizeLarge;
    font-weight: bold;
    text-align: center;
    @include body__text--color;
}

.welcome__link {
    @include body__text--color;
    cursor: pointer;
}

.welcome__container--buttonContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.welcome__button--about {
    @include body__text--color;
    font-size: $calcFontSizeLarge;
    @include border__style;
    @include body__border--color;
    @include background--color(button__background);
}
