.menuItem__container {
    // position: relative;
    // margin: 0;
    margin: 0 auto $s-size;
    outline-style: solid;
    outline-width: 1px;
    @include body__outline--color;
    max-width: 98%;
    max-height: $card-height;
    // font-size: $calcFontSize;
    // overflow: hidden;

    // display: flexbox;
    text-align: center;
    // justify-content: space-around;
}

// .menuItem__spacer {
//     // margin: $xs-size;
// }

// .menuItem__grid {
//     // display: grid;
//     // grid-template-columns: 2fr 6fr 2fr;
//     // grid-template-columns: 1fr;
//     // grid-template-rows: 1fr 5fr 3fr;
//     // grid-template-areas:
//     //     "left title right"
//     //     "left image right"
//     //     "left body right";
//     // display: grid;
//     // grid-template-columns: 1fr 8fr 1fr;
//     // // grid-template-columns: 1fr;
//     // grid-template-rows: 1fr 5fr 3fr 1fr;
//     // grid-template-areas:
//     //     "left title right"
//     //     "left image right"
//     //     "left body right"
//     //     "left buttons right";
//     // // "left end right";
//     justify-content: center;
//     text-align: center;
//     // text-decoration: none;
//     // @include body__text--color;
// }

.menuItem__link {
    display: block;
    // display: grid;
    // grid-column-start: 1;
    // grid-column-end: 4;
    // grid-row-start: 1;
    // grid-row-end: 4;
    // grid-template-columns: 1fr 8fr 1fr;
    // // grid-template-columns: 1fr;
    // grid-template-rows: 1fr 5fr 3fr;
    // grid-template-areas:
    //     "left title right"
    //     "left image right"
    //     "left body right";
    // grid-template-areas:
    // "left title title title right"
    // "left spacer image spacer2 right"
    // "left body body body right"
    // "left buttons buttons buttons right";
    // grid-column-start: title-start;
    // grid-column-end: span title-end;
    // grid-row-start: title-start;
    // grid-row-end: span end-left;
    text-decoration: none;
    @include body__text--color;
    padding: 0 $s-size;
    cursor: pointer;
}

.menuItem__title {
    display: block;
    // grid-area: title;
    // grid-column-start: title-start;
    // grid-column-end: span title-end;
    // grid-row-start: span title-start;
    // grid-row-end: span image-start;
    text-align: center;
    text-decoration: none;
    font-size: $calcFontSizeExtraLarge;
    // padding-bottom: $xs-size;
    // height: $calcFontSizeLarge;
    // max-height: $xxl-size;
    font-weight: bold;
    margin: $s-size;
    // padding-bottom: $s-size;
}

.menuItem__content {
    display: flex;
    justify-content: center;
    // margin: 0 auto;
    // padding: 0 auto;
}

.menuItem__image {
    // display: grid;
    // grid-area: image;
    // margin: auto;
    // grid-column-start: image-start;
    // grid-column-end: body-start;
    // grid-row-start: image-start;
    // grid-row-end: span image-end;
    text-decoration: none;
    font-size: $calcFontSize;
    max-width: 48%;
}

.menuItem__body {
    // display: block;
    max-width: 48%;
    // padding: 0 auto;
    // margin: 0 auto;
    // display: grid;
    // grid-area: body;
    // grid-column-start: body-start;
    // grid-column-end: body-end;
    // grid-row-start: body-start;
    // grid-row-end: span buttons-start;
    text-decoration: none;
    // font-size: $calcFontSize;
    // height: $xxl-size;
    // overflow: hidden;
}

.menuItem__body--spacer{
    display: block;
    margin: $s-size;
    // vertical-align: middle;
}

.menuItem__buttons--container {
    display: flex;
    justify-content: space-around;
    // display: grid;
    // grid-area: buttons;
    // display: flex;
    // justify-content: space-around;
    // position: absolute;
    // bottom: $s-size;
    // grid-column-start: buttons-start;
    // grid-column-end: span buttons-end;
    // grid-row-start: buttons-start;
    // grid-row-end: span end-left;
}

// .menuItems__buttons--positioner {
//     display: flex;
//     justify-content: space-around;
//     // position: absolute;
//     // bottom: $s-size;
// }

.menuItem__buttons--editRemove {
    margin: $s-size;
    padding: .5rem;
    width: 48%;
    // height: fit-content;
    font-size: $calcFontSizeLarge;
    @include background--color(switch__background);
    @include body__text--color();
    @include border__style();
    cursor: pointer;
}

// .menuItem__buttons--editRemove {
//     // display: grid;
//     // grid-area: buttons;
//     // position: relative;
//     // bottom: $s-size;
//     // transform: translateY(90%);
// }
