@mixin header__text--color {
    &.green {
        // @include color__transition(color);
        color: $text-black;
    }
    &.blue {
        // @include color__transition(color);
        color: $grey-light;
    }
    &.black {
        // @include color__transition(color);
        color: $blue-light;
    }
    &.white {
        // @include color__transition(color);
        color: $text-black;
    }
}

@mixin header__text--size {
    .expanded {
        @include size__transition(font-size, $transition-long);
        font-size: $calcFontSizeExtraLarge;

        // span & {
        //     font-size: $calcFontSizeExtraLarge;
        // }
        // p & {
        //     font-size: $calcFontSizeExtraLarge;
        // }
        // h1 & {
        //     font-size: $calcFontSizeExtraLarge;
        // }
    }
    .contracted {
        @include size__transition(font-size, $transition-long);
        font-size: $calcFontSize;

        // span & {
        //     font-size: $calcFontSize;
        // }
        // p & {
        //     font-size: $calcFontSize;
        // }
        // h1 & {
        //     font-size: $calcFontSize;
        // }
    }
}

@mixin header__border--bottom {
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    &.green {
        @include color__transition(border-color);
        border-color: $text-black;
    }
    &.blue {
        @include color__transition(border-color);
        border-color: $text-black;
    }
    &.black {
        @include color__transition(border-color);
        border-color: $blue-light;
    }
    &.white {
        @include color__transition(border-color);
        border-color: $text-black;
    }
}
