// Options:
// Any CSS element that might change
@mixin color__transition($item, $timer: $transition-long) {
    transition: $item $timer;
    transition-timing-function: ease-out;
}

@mixin size__transition($item, $timer: $transition-short) {
    transition: $item $timer;
    transition-timing-function: ease;
}

@mixin twoItem__transition($itemOne, $timerOne, $funcOne, $itemTwo, $timerTwo, $funcTwo) {
    transition: $itemOne $timerOne $funcOne, $itemTwo $timerTwo $funcTwo;
}

@mixin inset__item() {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.3), 0 2px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.3), 0 2px rgba(255, 255, 255, 0.1);
}

@mixin outset__item() {
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3), 5px 5px rgba(255, 255, 255, 0.1);
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3), 5px 5px rgba(255, 255, 255, 0.1);
}

// rgba(255, 255, 255, 0.1)

// Options:
// window__background
// header__background
// header__background__shadow - not currently used
// body__background
// body__background__shadow
// button__background - theme picker buttons
// addLink__background
// switch__background
// field__input__background
// menuItem__background

@mixin background--color($area) {
    @if ($area == window__background) {
        &.green {
            @include color__transition(background-color);
            background-color: $background-grey;
        }
        &.blue {
            @include color__transition(background-color);
            background-color: $grey-light;
        }
        &.black {
            @include color__transition(background-color);
            background-color: $background-grey;
        }
        &.white {
            @include color__transition(background-color);
            background-color: $grey-regular;
        }
    }

    @if ($area == header__background) {
        &.green {
            @include color__transition(background-color);
            background-color: $green-med-dark;
        }
        &.blue {
            @include color__transition(background-color);
            background-color: $blue-med-dark;
        }
        &.black {
            @include color__transition(background-color);
            background-color: $background-blue;
        }
        &.white {
            @include color__transition(background-color);
            background-color: $grey-light-dark;
        }
    }

    @if ($area == header__background__shadow) {
        &.green {
            @include color__transition(box-shadow);
            box-shadow: 0px -10px 15px 12px $green-dark;
        }
        &.blue {
            @include color__transition(box-shadow);
            box-shadow: 0px -10px 15px 12px $blue-dark;
        }
        &.black {
            @include color__transition(box-shadow);
            box-shadow: 0px -10px 15px 12px $blue-light-dark;
        }
        &.white {
            @include color__transition(box-shadow);
            box-shadow: 0 -5 18px 10px $text-black;
        }
    }

    @if ($area == body__background) {
        &.green {
            @include color__transition(background-color);
            background-color: $green-reg;
        }
        &.blue {
            @include color__transition(background-color);
            background-color: $blue-reg;
        }
        &.black {
            @include color__transition(background-color);
            background-color: $background-blue;
        }
        &.white {
            @include color__transition(background-color);
            background-color: $grey-light;
        }
    }

    @if ($area == body__background__shadow) {
        &.green {
            @include color__transition(box-shadow);
            box-shadow: 0 0 30px 10px $green-dark;
        }
        &.blue {
            @include color__transition(box-shadow);
            box-shadow: 0 0 18px 10px $blue-extra-dark;
        }
        &.black {
            @include color__transition(box-shadow);
            box-shadow: 0 0 15px 3px $blue-light-dark;
        }
        &.white {
            @include color__transition(box-shadow);
            box-shadow: 0 0 18px 10px $text-black;
        }
    }

    @if ($area == button__background) {
        &.green {
            @include color__transition(background-color);
            background-color: $green-light;
        }
        &.blue {
            @include color__transition(background-color);
            background-color: $blue-reg;
        }
        &.black {
            @include color__transition(background-color);
            background-color: $background-blue;
        }
        &.white {
            @include color__transition(background-color);
            background-color: $grey-light-dark;
        }
    }

    @if ($area == addLink__background) {
        &.green {
            @include color__transition(background-color);
            background-color: $green-pastel;
        }
        &.blue {
            @include color__transition(background-color);
            background-color: $blue-pastel;
        }
        &.black {
            @include color__transition(background-color);
            background-color: $background-grey;
        }
        &.white {
            @include color__transition(background-color);
            background-color: $grey-light;
        }
    }

    @if ($area == switch__background) {
        &.green {
            @include color__transition(background-color);
            background-color: $green__switch--background;
        }
        &.blue {
            @include color__transition(background-color);
            background-color: $blue-med-dark;
        }
        &.black {
            @include color__transition(background-color);
            background-color: $blue-extra-dark;
        }
        &.white {
            @include color__transition(background-color);
            background-color: $grey-light;
        }
    }

    @if ($area == field__input__background) {
        &.green {
            @include color__transition(background-color);
            background-color: $green-pastel;
        }
        &.blue {
            @include color__transition(background-color);
            background-color: $blue-pastel;
        }
        &.black {
            @include color__transition(background-color);
            background-color: $background-grey;
        }
        &.white {
            @include color__transition(background-color);
            background-color: $grey-light;
        }
    }

    @if ($area == menuItem__background) {
        &.green {
            @include color__transition(background-color);
            background-color: $green-med-light;
        }
        &.blue {
            @include color__transition(background-color);
            background-color: $blue-med-dark;
        }
        &.black {
            @include color__transition(background-color);
            background-color: $background-blue;
        }
        &.white {
            @include color__transition(background-color);
            background-color: $grey-light;
        }
    }

    @if ($area == hover__background) {
        &.green {
            @include color__transition(background-color);
            background-color: $green__switch--background;
        }
        &.blue {
            @include color__transition(background-color);
            background-color: $blue-med-dark;
        }
        &.black {
            @include color__transition(background-color);
            background-color: $blue-med-dark;
        }
        &.white {
            @include color__transition(background-color);
            background-color: $grey-light;
        }
    }
}

@mixin textLink {
    text-decoration: none;
}

@mixin border__style {
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
}

@mixin center-item {
    text-align: center;
}
