// Breakpoints

$tiny-breakpoint: 371px;
$medium-breakpoint: 540px;
$desktop-breakpoint: 425px;

// Sizes
$xs-size: 0.6rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 9.6rem;
$card-height: 60rem;

$calcFontSize: calc(12px + 2vmin);
$calcFontSizeMed: calc(12px + 3vmin);
$calcFontSizeLarge: calc(12px + 4vmin);
$calcFontSizeExtraLarge: calc(12px + 6vmin);

$max-content-width: 60rem;

// Button Size
$theme__button--size: 4rem;
$theme__button--sizeSmall: 2rem;

// Timing
$transition-extraShort: 0.5s;
$transition-short: 1s;
$transition-med: 2s;
$transition-long: 3s;

// Colors
$red-delete: rgb(197, 4, 4);
$text-black: #000000;

// GREEN THEME

// Base green color
$green-reg: #056137;

$green-med-light: lighten($green-reg, 10%);
$green-light: lighten($green-reg, 20%);
$green-med-dark: darken($green-reg, 4%);
$green-dark: darken($green-reg, 20%);
$green__switch--background: #3fdb80;

// Made/Found unselected word color for green background
$text-grey--green: #7e997999;
// Green input background
$green-pastel: #73c796;
// $green-pastel: #74c598;

// BLUE THEME
$blue-reg: #91ddf2;

$blue-pastel: #c6f3ff;
$blue-med-dark: darken($blue-reg, 15%);
$blue-dark: darken($blue-reg, 20%);
$blue-extra-dark: darken($blue-reg, 40%);
$blue__switch--background--pink: #f4e5fa;

$blue__switch--background--light-pink: #f4e5fa;

// Made/Found unselected word color for blue background
$text-blue--faded: #a2d4d355;

// BLACK THEME

// Window background for Black theme
$background-blue: #151517;

// Black background blue text
$blue-light: #a2d4d3;

$blue-light-dark: darken($blue-light, 20%);

// WHITE THEME

// Base grey for White theme
$grey-light: #e7e7e7;
$grey-light-lighten: lighten($grey-light, 20%);
$grey-light-dark: darken($grey-light, 25%);
$grey-light-med: darken($grey-light, 11%);

// Window background for White theme
$grey-regular: #686868;

// Made/Found unselected word color for blue and white backgrounds
$text-grey: #494949;

// Window background for Green theme, and app background for Black theme
$background-grey: #12121a;

// SWITCH

// Switch background
$background-fade: #00000060;

.bold {
    font-weight: bold;
}
