// Google Material Icon font

// .material-icons {
//     // font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
//     font-family: "Material Icons";
//     font-weight: normal;
//     font-style: normal;
//     // font-size: 24px;  /* Preferred icon size */
//     // display: inline-block;
//     // line-height: 1;
//     text-transform: none;
//     letter-spacing: normal;
//     word-wrap: normal;
//     white-space: nowrap;
//     direction: ltr;

//     /* Support for all WebKit browsers. */
//     -webkit-font-smoothing: antialiased;
//     /* Support for Safari and Chrome. */
//     text-rendering: optimizeLegibility;

//     /* Support for Firefox. */
//     -moz-osx-font-smoothing: grayscale;

//     /* Support for IE. */
//     font-feature-settings: "liga";
// }

// Breakpoints

$tiny-breakpoint: 371px;
$medium-breakpoint: 540px;
$desktop-breakpoint: 425px;

// Sizes
$xs-size: 0.6rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$xxl-size: 9.6rem;

$calcFontSize: calc(12px + 2vmin);
$calcFontSizeLarge: calc(12px + 4vmin);
$calcFontSizeExtraLarge: calc(12px + 6vmin);

$max-content-width: 60rem;

// Button Size
$theme__button--size: 4rem;
$theme__button--sizeSmall: 2rem;

// Colors
$text-black: #000000;

$green-reg: #056137;
$green-light: lighten($green-reg, 20%);
$green-med-dark: darken($green-reg, 6%);
$green-dark: darken($green-reg, 20%);

$blue-reg: #91ddf2;
$blue-med-dark: darken($blue-reg, 15%);
$blue-dark: darken($blue-reg, 20%);
$blue-extra-dark: darken($blue-reg, 40%);


$blue-light: #a2d4d3;
$blue-light-dark: darken($blue-light, 20%);

$grey-light: #e7e7e7;
$grey-regular: #686868;
$green-alt: #4c7135;
$background-grey: #12121a;
$background-blue: #151517;


// $blue-light: #0dc0ba;
// blue/grey #151517
// red/grey #171515
// favicon green #86bf63
// $green-reg: #66904c;
// $green-light: #09b667;
// $green-dark: #66904c;
// $green-alt: #4c7135;
// $blue-reg: #0f6be4;
// $blue-reg: #267be9;

// Timing
$transition-short: 1s;
$transition-med: 2s;
$transition-long: 3s;
